.containerRegisterBuilding {
  width: 100vw;
  height: 100vh;
  background-color: #f0eeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buildingData {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 45px;
  -webkit-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inputBuildingData {
  width: 300px;
  height: 60px;
  border-radius: 25px;
  font-size: 24px;
  padding-left: 10px;
}
