.containerRegisterBuilding {
  width: 100vw;
  height: 100vh;
  background-color: #f0eeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buildingData {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 45px;
  -webkit-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.containerRegisterBuilding form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerRegisterBuilding span {
  font-weight: 200;
  font-family: "Roboto", sans-serif;
}
.inputBuildingData {
  width: 300px;
  height: 60px;
  border-radius: 25px;
  font-size: 24px;
  padding-left: 10px;
}
.containerApartments {
  display: flex;
  background-color: #ddd;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 50vw;
  height: 300px;
  border-radius: 25px;
  -webkit-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
}
.customButton {
  margin: 10px;
  width: 150px;
}

.containerApartments a {
  cursor: pointer;
  user-select: none;
}

.containerApartments ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px;
  overflow: auto;
}
.liNotSelected {
  background-color: #aaa;
}
.liSelected {
  background-color: #0f0;
}

.containerApartments li {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.containerSidebar a {
  font-size: small;
}
.containerSidebar form {
  background-color: #f0f;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.containerSidebar {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
.containerSidebar input {
  border-radius: 25px;
  height: 30px;
  border-width: 0px;
  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
  padding-left: 15px;
}
