#containerBuilding {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}

#buttons {
  height: 260px;
  width: 350px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.customButtonBuilding {
  margin-top: 10px;
}

#containerBack {
  width: 95vw;
  padding: 5vh;
  display: flex;
  align-items: flex-start;
}
