#containerBuilding {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#buttons {
  margin-top: 10vh;
  height: 20rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#containerBack {
  width: 95vw;
  padding: 5vh;
  display: flex;
  align-items: flex-start;
}
